<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> 
<html lang="en"> <!--<![endif]-->  
<head>
    <title>Siasdo</title>
    <!-- Meta -->
    <link rel="shortcut icon" href="{{STATIC_URL}}assets/images/logosm.ico" type="image/x-icon">
    <link rel="icon" href="{{STATIC_URL}}assets/images/logosm.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">    
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'> 
    <!-- Global CSS -->
    <link rel="stylesheet" href="{{STATIC_URL}}assets/plugins/bootstrap/css/bootstrap.css">
    <!-- Plugins CSS -->    
    <link rel="stylesheet" href="{{STATIC_URL}}assets/plugins/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="{{STATIC_URL}}assets/plugins/prism/prism.css">
    <!-- animsition CSS -->
    <link rel="stylesheet" href="../dist/css/animsition.min.css">
    <!-- Theme CSS -->  
    <link id="theme-style" rel="stylesheet" href="{{STATIC_URL}}assets/css/styles.css">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->




   </script>
   
</head> 
<body>
    <header class="header navbar-fixed-top">
        <div class="container">            
            <h1 class="logo pull-left">
                <a href="/">
                    <span class="logo-title">SIASDO</span>
                </a>
            </h1><!--//logo-->               
            <nav id="main-nav" class="main-nav navbar-right" role="navigation">
                <div class="navbar-header">
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
                        <span class="glyphicon glyphicon-align-justify"></span>
                    </button>
                </div>         
                <div class="navbar-collapse collapse" id="navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active nav-item sr-only"><a class="scrollto" href="#promo">Home</a></li>
                        <li class="nav-item"><a href="/profile_profissional/">Voltar</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>

    <div class="container-fluid offset-header">
        <div class="container"> 
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 style="color:black;" class="text-center">Configurações das rotas</h4>
                        </div>
                        <div class="panel-body">
                            {%for rota in rotas%}
                                {{rota.estado}}
                            {%endfor%}
                            <div class="col-md-6 text-center">
                                <p class="text-center">Adicionar Rotas.</p>
                                <hr>
                                <form method="post" class="form-group">
                                    {% csrf_token %}
                                    <div class="col-md-8">
                                        {{form.bairro}}
                                    </div>
                                    <div class="col-md-4 controls">
                                        <button type="submit" href="#" class="btn btn-cta-secondary"><span class="glyphicon glyphicon-import"></span></button>
                                    </div>
                                </form>
                                <div class="col-md-12">
                                    {% if message_error %} 
                                        <div class="alert alert-error">
                                            <button type="button" class="close" data-dismiss="alert">x</button>
                                            {{message_error}}
                                        </div>
                                    {%endif%} 
                                </div>  
                                <div class="col-md-12">
                                    {% if message %} 
                                        <div class="alert alert-error">
                                            <button type="button" class="close" data-dismiss="alert">x</button>
                                            {{message}}
                                        </div>
                                    {%endif%} 
                                </div>  
                            </div>
                            <div class="col-md-6">
                                <p class="text-center">Rotas existentes.</p>
                                <hr>
                                <div class="col-md-12">
                                    {%for rota in rotas%}
                                        <div class="col-md-9">
                                           <p>{{rota.bairro}}</p>
                                        </div>
                                        <div class="col-md-3">
                                            <button title="Contrate-me!" class="btn-xs btn-cta-primary" onclick="window.location.href='/profile_profissional/delete_rote/{{rota.id}}/'"><span class="glyphicon glyphicon-remove-circle  "></span></button>
                                        </div>
                                    {%endfor%}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

        <!-- Javascript -->          
    <script type="text/javascript" src="{{STATIC_URL}}assets/plugins/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}assets/plugins/jquery-migrate-1.2.1.min.js"></script>    
    <script type="text/javascript" src="{{STATIC_URL}}assets/plugins/jquery.easing.1.3.js"></script>   
    <script type="text/javascript" src="{{STATIC_URL}}assets/plugins/bootstrap/js/bootstrap.min.js"></script>     
    <script type="text/javascript" src="{{STATIC_URL}}assets/plugins/jquery-scrollTo/jquery.scrollTo.min.js"></script> 
    <script type="text/javascript" src="{{STATIC_URL}}assets/plugins/prism/prism.js"></script>    
    <script type="text/javascript" src="{{STATIC_URL}}assets/js/main.js"></script> 
</body>
</html>
