<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> 
<html lang="en"> <!--<![endif]-->  
<head>
    <title>Siasdo</title>
    <!-- Meta -->
    <link rel="shortcut icon" href="{{STATIC_URL}}assets/images/logosm.ico" type="image/x-icon">
    <link rel="icon" href="{{STATIC_URL}}assets/images/logosm.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">    
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'> 
    <!-- Global CSS -->
    <link rel="stylesheet" href="{{STATIC_URL}}assets/plugins/bootstrap/css/bootstrap.css">
    <!-- Plugins CSS -->    
    <link rel="stylesheet" href="{{STATIC_URL}}assets/plugins/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="{{STATIC_URL}}assets/plugins/prism/prism.css">
    <!-- animsition CSS -->
    <link rel="stylesheet" href="../dist/css/animsition.min.css">
    <!-- Theme CSS -->  
    <link id="theme-style" rel="stylesheet" href="{{STATIC_URL}}assets/css/styles.css">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head> 

<body data-spy="scroll">
    <!-- ******HEADER****** --> 
    <header class="header navbar-fixed-top">  
        <div class="container">           
            <h1 class="logo pull-left">
                <a href="/">
                    <span class="logo-title">SIASDO</span>
                </a>
            </h1>           
            <nav id="main-nav" class="main-nav navbar-right" role="navigation">
                <div class="navbar-header">
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
                        <span class="glyphicon glyphicon-align-justify"></span>
                    </button>
                </div>            
                <div class="navbar-collapse collapse" id="navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active nav-item sr-only"><a class="scrollto" href="#promo">Home</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    
    <!-- ******PROMO****** -->
    <section id="promo" class="promo section offset-header" style="padding-bottom: 30px;">
        <div class="container">
            <div class="row">
                <div class="col-sm-12" style="padding-bottom: 45px;">
                    <img src="https://scontent-gru.xx.fbcdn.net/hphotos-xap1/v/t1.0-9/11295_791107894307411_6610193487089000884_n.jpg?oh=8c720892b90ec1a3d36c087e04684d46&oe=55BD97F0" class="col-md-6 col-md-offset-3">
                </div>
                <div class="container text-center">
    			    <p class="intro">Cadastre-se:</p>
                    <div class="btns">
                        <a class="btn btn-cta-secondary" href="/profissionais/">Profissional</a>
                        <a class="btn btn-cta-secondary" href="/pacientes/">Paciente</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="about" class="about section">
        <div class="container">
            <h2 class="title text-center">O que é Siasdo?</h2>
            <p class="text-justify">SIASDO é a sigla para Sistema de Assistência Domiciliar à Saúde. O SIASDO é um site totalmente pensado e estruturado para atender as necessidades daqueles pacientes que, por alguma razão, precisem de atendimento de saúde em sua própria residência.
            A plataforma permite registro de profissionais de várias classes:</p>
            <ul>
                <li>Educação Física</li>
                <li>Enfermagem</li>
                <li>Estética</li>
                <li>Fisioterapia</li>
                <li>Fonoaudiologia</li>
                <li>Massoterapia</li>
                <li>Nutrição</li>
                <li>Podologia</li>
                <li>Psicologia</li>
                <li>Terapia Ocupacional</li>
           
            </ul>
            <p class="text-justify">O registro dos profissionais será feito mediante análise criteriosa de documentação enviada para a administração do site, que adotará como requisitos curso completo de formação na área específica que pretende registro e para profissões que requerem nível superior também registro ativo no respectivo conselho regional de classe.
            O site possibilita que um atendimento seja agendado e confirmado em poucos cliques. É rápido, seguro e eficiente!
            Sejam todos bem-vindos!</p>
            <hr>
            <div class="row">
                <div class="item col-md-6">
                    <div class="item col-md-12">
                        <div class='icon-holder'>
                            <i class="glyphicon glyphicon-plus"></i>
                        </div>
                        <div class="content">
                            <h3 class="sub-title">Profissionais</h3>
                        </div>
                    </div>
                    <div class="item col-md-12">
                        <div class="icon-holder">
                            <i class="glyphicon glyphicon-ok"></i>
                        </div>
                        <div class="content">
                            <h3 class="sub-title">1º Passo</h3>
                            <p>Faça seu cadastro como profissional (importante anexar currículo). Mande o seu certificado e se for profissional de nível superior também a identidade profissional expedida pelo conselho regional de classe, ambos digitalizados (escaneados) para o email siasdocadastro@gmail.com. Aguarde a confirmação do seu cadastro pelo email informado.<!-- Faça seu cadastro como profissional. Mande seu currículo e seu certificado, espere a confirmação pelo sistema. --></p>
                        </div>
                    </div>
                    <div class="item col-md-12">
                        <div class="icon-holder">
                            <i class="glyphicon glyphicon-ok"></i>
                        </div>
                        <div class="content">
                            <h3 class="sub-title">2º Passo</h3>
                            <p>Após fazer login, acesse seu perfil e vá em configurações e adicionar rotas. Lá você poderá adicionar suas rotas atuais de trabalho, melhorando assim a eficiência do nosso sistema em lhe listar para pacientes.</p>
                        </div>
                    </div>
                    <div class="item col-md-12">
                        <div class="icon-holder">
                            <i class="glyphicon glyphicon-ok"></i>
                        </div>
                        <div class="content">
                            <h3 class="sub-title">3º Passo</h3>
                            <p>Receba e gerencie seus pedidos de consulta pelo seu perfil profissional. Lá conterá todas as informações para que entre em contato com seus possíveis clientes.</p>
                        </div>
                    </div>
                </div>
                <div class="item col-md-6">
                    <div class="item col-md-12">
                        <div class='icon-holder'>
                            <i class="glyphicon glyphicon-user"></i>
                        </div>
                        <div class="content">
                            <h3 class="sub-title">Paciente</h3>
                        </div>
                    </div>
                    <div class="item col-md-12">
                        <div class="icon-holder">
                            <i class="glyphicon glyphicon-ok"></i>
                        </div>
                        <div class="content">
                            <h3 class="sub-title">1º Passo</h3>
                            <p>Faça seu cadastro como paciente.</p>
                        </div>
                    </div>
                    <div class="item col-md-12">
                        <div class="icon-holder">
                            <i class="glyphicon glyphicon-ok"></i>
                        </div>
                        <div class="content">
                            <h3 class="sub-title">2º Passo</h3>
                            <p>Efetue o Login e clique na botão de "Encontre profissionais". Lá serão listados os profissionais próximos a você! Também será possivel a listagem por área profissional. Basta clicar na profissão que deseja listada e em procurar, serão mostrados todos os profissionais dessa área no nosso sistema.</p>
                        </div>
                    </div>
                    <div class="item col-md-12">
                        <div class="icon-holder">
                            <i class="glyphicon glyphicon-ok"></i>
                        </div>
                        <div class="content">
                            <h3 class="sub-title">3º Passo</h3>
                            <p>Clique no ícone de mensagem para acessar o menu de contato com o profissional e mande um recado para ele especificando suas necessidades.</p>
                        </div>
                    </div>
                </div>
            </div>     
        </div>
    </section>

    <!-- ******CONTACT****** --> 
    <section id="contact" class="contact section has-pattern">
        <div class="container">
            <div class="contact-inner">
                <h2 class="title  text-center">Contato</h2>
                <p class="intro  text-center">Entre em contato conosco para mais informações.</p>
                <div class="clearfix"></div>
                <div class="col-md-6">
                    <div class="col-md-1"><i class="glyphicon glyphicon-envelope"></i></div>
                    <div class="col-md-5"><p>Email:<a href="mailto:siasdocadastro@gmail.com">siasdocadastro@gmail.com</a></p></div>
                </div>
                <div class="col-md-6">
                    <div class="info text-center">
                        <ul class="social-icons list-inline">
                            <li><a href="https://www.facebook.com/pages/Siasdo/358239867710259?fref=ts" target="_blank"><i class="fa fa-facebook"></i></a></li>  
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ******FOOTER****** --> 
    <footer class="footer">
        <div class="container text-center">
            <small class="copyright">Desenvolvido por <a href="http://www.acens.com.br/" targe="blank">Acens</a></small>
        </div>
    </footer>
     
    <!-- Javascript -->          
    <script type="text/javascript" src="{{STATIC_URL}}assets/plugins/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}assets/plugins/jquery-migrate-1.2.1.min.js"></script>    
    <script type="text/javascript" src="{{STATIC_URL}}assets/plugins/jquery.easing.1.3.js"></script>   
    <script type="text/javascript" src="{{STATIC_URL}}assets/plugins/bootstrap/js/bootstrap.min.js"></script>     
    <script type="text/javascript" src="{{STATIC_URL}}assets/plugins/jquery-scrollTo/jquery.scrollTo.min.js"></script> 
    <script type="text/javascript" src="{{STATIC_URL}}assets/plugins/prism/prism.js"></script>    
    <script type="text/javascript" src="{{STATIC_URL}}assets/js/main.js"></script>
</body>
</html> 

