<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> 
<html lang="en"> <!--<![endif]-->  
<head>
    <title>Siasdo</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">    
    <link rel="shortcut icon" href="{{STATIC_URL}}assets/images/logosm.ico" type="image/x-icon"> 
    <link rel="icon" href="{{STATIC_URL}}assets/images/logosm.ico" type="image/x-icon">   
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'> 
    <!-- Global CSS -->
    <link rel="stylesheet" href="{{STATIC_URL}}assets/plugins/bootstrap/css/bootstrap.css">
    <!-- Plugins CSS -->    
    <link rel="stylesheet" href="{{STATIC_URL}}assets/plugins/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="{{STATIC_URL}}assets/plugins/prism/prism.css">
    <!-- animsition CSS -->
    <link rel="stylesheet" href="../dist/css/animsition.min.css">
    <!-- Theme CSS -->  
    <link id="theme-style" rel="stylesheet" href="{{STATIC_URL}}assets/css/styles.css">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->



</head> 
<body>
    <header class="header navbar-fixed-top">
        <div class="container">            
            <h1 class="logo pull-left">
                <a href="/">
                    <span class="logo-title">SIASDO</span>
                </a>
            </h1>
            <nav id="main-nav" class="main-nav navbar-right" role="navigation">
                <div class="navbar-header">
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>  
                    </button>
                </div>         
                <div class="navbar-collapse collapse" id="navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active nav-item sr-only"><a class="scrollto" href="#promo">Home</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>

    {% if validlink %}
        <div class="container-fluid offset-header">
            <div class="container"> 
                <div id="loginbox"  class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">                    
                    <div class="panel panel-info" >
                        <div class="panel-heading">
                            <div class="panel-title text-center">Recuperar senha</div>
                        </div> 
                        <p class="text-center"></p>
                        <hr>   
                        <div style="padding-top:30px" class="panel-body" >
                            <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>
                            <form id="loginform" class="form-horizontal" role="form" method = "post">
                                {% csrf_token %}
                                {% if form.errors %}
                                <div class="alert alert-danger">
                                    <button type="button" class="close" data-dismiss="alert">×</button>
                                    {% for field in form %} 
                                        {% if field.errors %}
                                            <li>{{ field.label }}: {{ field.errors|striptags }}</li>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            {% endif %}
                                <div class="input-group" style="margin-bottom: 25px">
                                    <span class="input-group-addon">
                                        <i class="glyphicon glyphicon-envelope"> Nova senha</i>
                                    </span>
                                  <input id="id_new_password1" name="new_password1" class="form-control" type="password">
                                </div>
                                <div class="input-group" style="margin-bottom: 25px">
                                    <span class="input-group-addon">
                                        <i class="glyphicon glyphicon-envelope"> Confirme a senha</i>
                                    </span>
                                  <input id="id_new_password2" name="new_password2" class="form-control" type="password">
                                </div>
                                
                                <button class="btn btn-primary">Resetar minha senha.</button>
                            </form>     
                        </div>                     
                    </div>  
                </div>
            </div>
        </div>
    {%else%}
        <div class="container-fluid offset-header">
            <div class="container"> 
                <div id="loginbox"  class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">                    
                    <div class="panel panel-info" >  
                        <div style="padding-top:30px" class="panel-body" >
                            <h4 style="color: black;" class="text-center">Link Expirado!</h4>  
                            <hr>
                            <p>Envie outra requisição para mudar sua senha!</p>
                        </div>                     
                    </div>  
                </div>
            </div>
        </div>
    {%endif%}

        <!-- Javascript -->          
    <script type="text/javascript" src="{{STATIC_URL}}assets/plugins/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}assets/plugins/jquery-migrate-1.2.1.min.js"></script>    
    <script type="text/javascript" src="{{STATIC_URL}}assets/plugins/jquery.easing.1.3.js"></script>   
    <script type="text/javascript" src="{{STATIC_URL}}assets/plugins/bootstrap/js/bootstrap.min.js"></script>     
    <script type="text/javascript" src="{{STATIC_URL}}assets/plugins/jquery-scrollTo/jquery.scrollTo.min.js"></script> 
    <script type="text/javascript" src="{{STATIC_URL}}assets/plugins/prism/prism.js"></script>    
    <script type="text/javascript" src="{{STATIC_URL}}assets/js/main.js"></script> 
</body>
</html>
