<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> 
<html lang="en"> <!--<![endif]-->  
<head>
    <title>Siasdo</title>
    <!-- Meta -->
    <link rel="shortcut icon" href="{{STATIC_URL}}assets/images/logosm.ico" type="image/x-icon">
    <link rel="icon" href="{{STATIC_URL}}assets/images/logosm.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">    
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'> 
    <!-- Global CSS -->
    <link rel="stylesheet" href="{{STATIC_URL}}assets/plugins/bootstrap/css/bootstrap.css">
    <!-- Plugins CSS -->    
    <link rel="stylesheet" href="{{STATIC_URL}}assets/plugins/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="{{STATIC_URL}}assets/plugins/prism/prism.css">
    <!-- Theme CSS -->  
    <link id="theme-style" rel="stylesheet" href="{{STATIC_URL}}assets/css/styles.css">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head> 


<body>
	<header class="header navbar-fixed-top">
		<div class="container">            
            <h1 class="logo pull-left">
                <a href="/">
                    <span class="logo-title">SIASDO</span>
                </a>
            </h1>             
            <nav id="main-nav" class="main-nav navbar-right" role="navigation">
                <div class="navbar-header">
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
                        <span class="glyphicon glyphicon-align-justify"></span>	
                    </button>
                </div>         
                <div class="navbar-collapse collapse" id="navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active nav-item sr-only"><a class="scrollto" href="#promo">Home</a></li>
                        <li class="nav-item"><a href="/">Home</a></li>
                    </ul>
                </div>
            </nav>
		</div>
	</header>

	<div style="background: #E6E8FA;" class="container-fluid offset-header">
		<div class="container">
			<div class="row">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h2 style="color: black;" class="text-center">Aqui você achará a nossa lista de profissionais!</h2>
					</div>
					<div class="panel-body">
						<div class="col-md-12">
							<div class="col-md-3">
								<p class="text-center">Selecione uma área de atuação.</p>
								<hr>
								<ul>
									<a href=""><li>Enfermagem( #Number )</li></a>
									<a href=""><li>Médico ( #Number )</li></a>
								</ul>
							</div>
							<div class="col-md-9">
								<p class="text-center">Profissionais próximos a você!</p>
								<hr>
								{%for rota in rotas%}
									<div class="col-md-12">
										<div class="col-md-6">
											<div class="col-xs-12">
												<div class="col-xs-1">
													<i class="glyphicon glyphicon-user"></i>
												</div>
												<div class="col-xs-10">
													<p><Strong>Cep:{{rota.cep}}</Strong></p>
												</div>
											</div>
											<div class="col-xs-12">
												<div class="col-xs-1">
													<i class="glyphicon glyphicon-envelope"></i>
												</div>
												<div class="col-xs-10">
													<p><Strong>Estado:{{rota.estado}}</Strong></p>
												</div>
											</div>
											<div class="col-xs-12">
												<div class="col-xs-1">
													<i class="glyphicon glyphicon-map-marker"></i>
												</div>
												<div class="col-xs-10">
													<p><Strong>Endereço:{{rota.endereco}}</Strong></p>
												</div>
											</div>
											<div class="col-xs-12">
												<div class="col-xs-1">
													<i class="glyphicon glyphicon-briefcase"></i>
												</div>
												<div class="col-xs-10">
													<p><Strong>Bairro:{{rota.bairro}}</Strong></p>
												</div>
											</div>
											<div class="col-xs-12">
												<div class="col-xs-1">
													<i class="glyphicon glyphicon-briefcase"></i>
												</div>
												<div class="col-xs-10">
													<p><Strong>Cidade:{{rota.cidade}}</Strong></p>
												</div>
											</div>
										</div>
										<div class="col-md-2 text-center">
											<button title="Contrate-me!" class="btn btn-cta-primary" onclick="window.location.href='/profile_profissional/delete_rote/{{rota.id}}/'"><span class="glyphicon glyphicon-comment"></span></button>
										</div>
									</div>
								{%endfor%}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

    <!-- ******CONTACT****** --> 
    <section id="contact" class="contact section has-pattern">
        <div class="container">
            <div class="contact-inner">
                <h2 class="title  text-center">Contato</h2>
                <p class="intro  text-center">Entre em contato conosco para mais informações.</p>
                <div class="clearfix"></div>
                <div class="col-md-6">
                    <div class="col-md-1"><i class="glyphicon glyphicon-envelope"></i></div>
                   	<div class="col-md-5"><p>Email:<a href="mailto:siasdocadastro@gmail.com">siasdocadastro@gmail.com</a></p></div>
                </div>
                <div class="col-md-6">
                    <div class="info text-center">
                        <ul class="social-icons list-inline">
                            <li><a href="https://www.facebook.com/pages/Siasdo/358239867710259?fref=ts" target="_blank"><i class="fa fa-facebook"></i></a></li>             
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ******FOOTER****** --> 
    <footer class="footer">
        <div class="container text-center">
            <small class="copyright">Desenvolvido por <a href="http://www.acens.com.br/" targe="blank">Acens</a></small>
        </div>
    </footer>
</body>
</html>
