<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> 
<html lang="en"> <!--<![endif]-->  
<head>
    <title>Log in</title>
    <!-- Meta -->
    <link rel="shortcut icon" href="{{STATIC_URL}}assets/images/logosm.ico" type="image/x-icon">
    <link rel="icon" href="{{STATIC_URL}}assets/images/logosm.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">     
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'> 
    <!-- Global CSS -->
    <link rel="stylesheet" href="{{STATIC_URL}}assets/plugins/bootstrap/css/bootstrap.css">
    <!-- Plugins CSS -->    
    <link rel="stylesheet" href="{{STATIC_URL}}assets/plugins/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="{{STATIC_URL}}assets/plugins/prism/prism.css">
    <!-- Theme CSS -->  
    <link id="theme-style" rel="stylesheet" href="{{STATIC_URL}}assets/css/styles.css">
     <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
    
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    
</head>
<body id="body">
	<header class="header navbar-fixed-top">
		<div class="container">                   
            <h1 class="logo pull-left">
                <a class="scrollto" href="#promo">
                    <span class="logo-title">SIASDO</span>
                </a>
            </h1>   
            <nav id="main-nav" class="main-nav navbar-right" role="navigation">
                <div class="navbar-header">
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
                        <span class="glyphicon glyphicon-align-justify"></span>
                    </button>
                </div>         
                <div class="navbar-collapse collapse" id="navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active nav-item sr-only"><a class="scrollto" href="#promo">Home</a></li>
                        <li class="nav-item"><a href="/">Home</a></li>
                    </ul>
                </div>
            </nav>
		</div>
	</header>
    
    <div class="container offset-header">    
        <div id="loginbox"  class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">                    
            <div class="panel panel-info" >
                <div class="panel-heading">
                    <div class="panel-title">Sign In</div>
                    <div style="float:right; font-size: 80%; position: relative; top:-10px"><a href="#"><strong>Esqueceu sua senha?</strong></a></div>
                </div> 
                <form id="loginform" class="form-horizontal" role="form" method = "post"> 
                    {% csrf_token %}
                    <div style="margin-bottom: 25px" class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i>{{form.old_password.label}}</span>
                        {{form.old_password}}
                    </div>
                    <div style="margin-bottom: 25px" class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i>{{form.new_password1.label}}</span>
                        {{form.new_password1}}
                    </div>
                    <div style="margin-bottom: 25px" class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i>{{form.new_password2.label}}</span>
                        {{form.new_password2}}
                    </div>
                    <div class="col-sm-12 controls">
                        <button type="submit" href="#" class="btn btn-cta-secondary btn-lg">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Javascript -->          
    <script type="text/javascript" src="{{STATIC_URL}}assets/plugins/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}assets/plugins/jquery-migrate-1.2.1.min.js"></script>    
    <script type="text/javascript" src="{{STATIC_URL}}assets/plugins/jquery.easing.1.3.js"></script>   
    <script type="text/javascript" src="{{STATIC_URL}}assets/plugins/bootstrap/js/bootstrap.min.js"></script>     
    <script type="text/javascript" src="{{STATIC_URL}}assets/plugins/jquery-scrollTo/jquery.scrollTo.min.js"></script> 
    <script type="text/javascript" src="{{STATIC_URL}}assets/plugins/prism/prism.js"></script>    
    <script type="text/javascript" src="{{STATIC_URL}}assets/js/main.js"></script> 
</body>
</html>
