<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> 
<html lang="en"> <!--<![endif]-->  
<head>

    <title>Siasdo</title>
    <!-- Meta -->
    <link rel="shortcut icon" href="{{STATIC_URL}}assets/images/logosm.ico" type="image/x-icon">
    <link rel="icon" href="{{STATIC_URL}}assets/images/logosm.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">    
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'> 
    <!-- Global CSS -->
    <link rel="stylesheet" href="{{STATIC_URL}}assets/plugins/bootstrap/css/bootstrap.css">
    <!-- Plugins CSS -->    
    <link rel="stylesheet" href="{{STATIC_URL}}assets/plugins/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="{{STATIC_URL}}assets/plugins/prism/prism.css">
    <!-- Theme CSS -->  
    <link id="theme-style" rel="stylesheet" href="{{STATIC_URL}}assets/css/styles.css">
    <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
<script type="text/javascript">
        function populateFruitVariety() {
            $.getJSON('http://siasdo.com.br/get_bairros/', {cidade:$('#id_cidade').val()}, function(data) {
                var select = $('#id_bairro');
                var options = select.prop('options');
                $('option', select).remove();
                $.each(data, function(key, value) {
                    //options[options.length] = new Option(array['bairro']);
                   $('#id_bairro')
         .append($("<option></option>")
         .attr("value",value.id_bairro)
         .text(value.unicode)); 
                    
                    });
        

               });
                }
        $(document).ready(function() {
            populateFruitVariety();
            $('#id_cidade').change(function() {
                populateFruitVariety();
            });
        });



   </script>

   <script>
function formatar(mascara, documento){
  var i = documento.value.length;
  var saida = mascara.substring(0,1);
  var texto = mascara.substring(i)
  
  if (texto.substring(0,1) != saida){
            documento.value += texto.substring(0,1);
  }
  
}
</script>
</head>

<body id="body">
	
	<header class="header navbar-fixed-top">
		<div class="container">              
            <h1 class="logo pull-left">
                <a class="scrollto" href="/">
                    <span class="logo-title">SIASDO</span>
                </a>
            </h1>             
            <nav id="main-nav" class="main-nav navbar-right" role="navigation">
                <div class="navbar-header">
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
                        <span class="glyphicon glyphicon-align-justify"></span>	
                    </button>
                </div>         
                <div class="navbar-collapse collapse" id="navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active nav-item sr-only"><a class="scrollto" href="#promo">Home</a></li>
                        <li class="nav-item"><a href="/">Home</a></li>
                    </ul>
                </div>
            </nav>
		</div>
	</header>


	<!-- *****CADASTRO***** -->
	<div class="container offset-header">
		<div class="col-md-12">
			<div class="col-md-offset-2 col-md-8">
				<div class="panel panel-default">
				    <div class="panel-heading">
					   <h1 class="text-center">Cadastro de pacientes</h1>
				    </div>
				  
				    <div class="panel-body">
                		<form class="form-horizontal" method="post">{% csrf_token %}
                            {% if form.errors %}
                                <div class="alert alert-danger">
                                    <button type="button" class="close" data-dismiss="alert">×</button>
                                    {% for field in form %} 
                                        {% if field.errors %}
                                            <li>{{ field.label }}: {{ field.errors|striptags }}</li>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            {% endif %}
                            {% for field in form %}
                                <p> 
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">{{field.label}}</label>
                                        <div class="col-sm-10">
                                            {{field}}
                                        </div>
                                    </div>
                                </p>
                            {% endfor %}
                            <div class="form-group">
    						    <div class="col-sm-offset-2 col-sm-10">
    						      <button type="submit" class="btn btn-primary">Cadastre-se</button>
    						    </div>
                    		</div>	
                            <hr>
                    		<p>* campos obrigatórios.</p>
                		</form>
                        <script type="text/javascript">
                        	$(document).ready(function() {

                                    function limpa_formulário_cep() {
                                        // Limpa valores do formulário de cep.
                                        $("#").val("");
                                        $("#").val("");
                                        $("#").val("");
                                        $("#").val("");
                                    }
                                    
                                    //Quando o campo cep perde o foco.
                                    $("#id_cep").blur(function() {

                                        //Nova variável com valor do campo "cep".
                                        var cep = $(this).val();

                                        //Verifica se campo cep possui valor informado.
                                        if (cep != "") {

                                            //Expressão regular para validar o CEP.
                                            var validacep = /^[0-9]{5}-?[0-9]{3}$/;

                                            //Valida o formato do CEP.
                                            if(validacep.test(cep)) {

                                                //Preenche os campos com "..." enquanto consulta webservice.
                                                $("#id_endereco").val("...")
                                                $("#").val("...")
                                                $("#").val("...")
                                                $("#").val("...")
                                                //$("#ibge").val("...")

                                                //Consulta o webservice viacep.com.br/
                                                $.getJSON("//viacep.com.br/ws/"+ cep +"/json/?callback=?", function(dados) {

                                                    if (!("erro" in dados)) {
                                                        //Atualiza os campos com os valores da consulta.
                                                        $("#id_endereco").val(dados.logradouro);
                                                        $("#").val(dados.bairro);
                                                        $("#").val(dados.localidade);
                                                        $("#i").val(dados.uf);
                                                        //$("#ibge").val(dados.ibge);
                                                    } //end if.
                                                    else {
                                                        //CEP pesquisado não foi encontrado.
                                                        limpa_formulário_cep();
                                                        alert("CEP não encontrado.");
                                                    }
                                                });
                                            } //end if.
                                            else {
                                                //cep é inválido.
                                                limpa_formulário_cep();
                                                alert("Formato de CEP inválido.");
                                            }
                                        } //end if.
                                        else {
                                            //cep sem valor, limpa formulário.
                                            limpa_formulário_cep();
                                        }
                                    });
                                });
                        </script>
				    </div>
				</div>
			</div>
		</div>
	</div>

    <!-- ******CONTACT****** --> 
    <section id="contact" class="contact section has-pattern">
        <div class="container">
            <div class="contact-inner">
                <h2 class="title  text-center">Contato</h2>
                <p class="intro  text-center">Entre em contato conosco para mais informações.</p>
                <div class="clearfix"></div>
                <div class="col-md-6">
                    <div class="col-md-1"><i class="glyphicon glyphicon-envelope"></i></div>
                    <div class="col-md-5"><p>Email:<a href="mailto:siasdocadastro@gmail.com">siasdocadastro@gmail.com</a></p></div>
                </div>
                <div class="col-md-6">
                    <div class="info text-center">
                        <ul class="social-icons list-inline">
                            <li><a href="https://www.facebook.com/pages/Siasdo/358239867710259?fref=ts" target="_blank"><i class="fa fa-facebook"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ******FOOTER****** --> 
    <footer class="footer">
        <div class="container text-center">
            <small class="copyright">Designed with <i class="fa fa-heart"></i> by <a href="http://themes.3rdwavemedia.com" target="_blank">Xiaoying Riley</a> for developers</small>
        </div>
    </footer>

	    <!-- Javascript -->          
    <script type="text/javascript" src="{{STATIC_URL}}assets/plugins/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}assets/plugins/jquery-migrate-1.2.1.min.js"></script>    
    <script type="text/javascript" src="{{STATIC_URL}}assets/plugins/jquery.easing.1.3.js"></script>   
    <script type="text/javascript" src="{{STATIC_URL}}assets/plugins/bootstrap/js/bootstrap.min.js"></script>     
    <script type="text/javascript" src="{{STATIC_URL}}assets/plugins/jquery-scrollTo/jquery.scrollTo.min.js"></script> 
    <script type="text/javascript" src="{{STATIC_URL}}assets/plugins/prism/prism.js"></script>    
    <script type="text/javascript" src="{{STATIC_URL}}assets/js/main.js"></script> 
</body>
</html>
