<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> 
<html lang="en"> <!--<![endif]-->  
<head>
    <title>Siasdo</title>
    <!-- Meta -->
    <link rel="shortcut icon" href="{{STATIC_URL}}assets/images/logosm.ico" type="image/x-icon">
    <link rel="icon" href="{{STATIC_URL}}assets/images/logosm.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">    
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'> 
    <!-- Global CSS -->
    <link rel="stylesheet" href="{{STATIC_URL}}assets/plugins/bootstrap/css/bootstrap.css">
    <!-- Plugins CSS -->    
    <link rel="stylesheet" href="{{STATIC_URL}}assets/plugins/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="{{STATIC_URL}}assets/plugins/prism/prism.css">
    <!-- Theme CSS -->  
    <link id="theme-style" rel="stylesheet" href="{{STATIC_URL}}assets/css/styles.css">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head> 
<body>
	<header class="header navbar-fixed-top">
		<div class="container">            
            <h1 class="logo pull-left">
                <a class="scrollto" href="#promo">
                    <span class="logo-title">SIASDO</span>
                </a>
            </h1>    
            <nav id="main-nav" class="main-nav navbar-right" role="navigation">
                <div class="navbar-header">
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
                        <span class="glyphicon glyphicon-align-justify"></span>
                    </button>
                </div>         
                <div class="navbar-collapse collapse" id="navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active nav-item sr-only"><a class="scrollto" href="#promo">Home</a></li>
                        <li class="nav-item"><a class="scrollto" href="home">Home</a></li>
                    </ul>
                </div>
            </nav>
		</div>
	</header>

	<section id="about" class="about section">
		<div class="container">
			<div class="col-md-12">
				<div class="col-md-4">
					<div class="panel panel-default">
						<div class="panel-body">
							<div class="row">
    							<div class="col-xs-12">
    							  	<a href="#" class="thumbnail">
    							    	<img src="{{STATIC_URL}}assets/images/log.jpg">
    							    </a>
    							</div>
							</div>
							<p><Strong>Nome:</Strong></p>
							<p><Strong>Email:</Strong></p>
							<p><Strong>Rua/Número:</Strong></p>
							<p><Strong>Bairro:</Strong></p>
							<p><Strong>Área de atuação:</Strong></p>
						</div>
					</div>
				</div>
			</div>
		</div>	
	</section>
</body>
</html>