<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> 
<html lang="en"> <!--<![endif]-->  
<head>
    <title>Siasdo</title>
    <!-- Meta -->
    <link rel="shortcut icon" href="{{STATIC_URL}}assets/images/logosm.ico" type="image/x-icon">
    <link rel="icon" href="{{STATIC_URL}}assets/images/logosm.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">      
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'> 
    <!-- Global CSS -->
    <link rel="stylesheet" href="{{STATIC_URL}}assets/plugins/bootstrap/css/bootstrap.css">
    <!-- Plugins CSS -->    
    <link rel="stylesheet" href="{{STATIC_URL}}assets/plugins/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="{{STATIC_URL}}assets/plugins/prism/prism.css">
    <!-- Theme CSS -->  
    <link id="theme-style" rel="stylesheet" href="{{STATIC_URL}}assets/css/styles.css">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head> 
<body>
	<header class="header navbar-fixed-top">
		<div class="container">            
            <h1 class="logo pull-left">
                <a href="/">
                    <span class="logo-title">SIASDO</span>
                </a>
            </h1>              
            <nav id="main-nav" class="main-nav navbar-right" role="navigation">
                <div class="navbar-header">
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
                        <span class="glyphicon glyphicon-align-justify"></span>
                    </button>
                </div>         
                <div class="navbar-collapse collapse dropdown" id="navbar-collapse">
                    <ul class="nav navbar-nav">
		                <li class="active nav-item sr-only"><a class="scrollto" href="#promo">Home</a></li>
		                <li>
							<a style="color:#666961;" class="btn btn-cta-secondary" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
								Configurações
							</a>
							<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
								<li role="presentation"><a role="menuitem" tabindex="-1" href="/profile_profissional/edit_settings/">Alterar configurações da conta</a></li>
							    <li role="presentation"><a role="menuitem" tabindex="-1" href="/profile_profissional/edit_senha/">Alterar senha</a></li>
							    <li role="presentation"><a role="menuitem" tabindex="-1" href="/profile_profissional/add_servico/">Adicionar Serviços</a></li>
							    <li role="presentation"><a role="menuitem" tabindex="-1" href="/profile_profissional/add_rota/">Suas rotas</a></li>
							     <li role="presentation"><a role="menuitem" tabindex="-1" href="/profile_profissional/consultas_nao_confirmadas/">Consultas não confirmadas</a></li>
							</ul>
		                </li>
                        <li class="nav-item"><a href="/logout">Sair <span class="glyphicon glyphicon-off"></span></a></li>
                    </ul>
                </div>
            </nav>
		</div>
	</header>

	<section id="about" class="about section">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="col-md-4">
						<div class="panel panel-default">
							<div class="panel-body">
								<div class="row">
									<div class="col-xs-12">
										<a href="#" class="thumbnail">
										   	<img src="{{prof.foto.url}}">
										</a>
									</div>
									<div class="col-xs-12">
										<div class="col-xs-3">
											<label>Alterar foto:</label>
										</div>
										<div class="col-xs-9">
											<form method="post" enctype="multipart/form-data" action='/profile_profissional/change_foto/'>
											{%csrf_token%}
												<!-- <input accept="image/jpeg,image/jpg,image/png" type="file"> -->
												{{form}}
												<br>
												<button type="submit" class="btn btn-cta-primary" >Mudar foto</button>
											</form>	
										</div>
									</div>
								</div>
								<hr>
								<div class="col-xs-12">
									<div class="col-xs-1">
										<i class="glyphicon glyphicon-user"></i>
									</div>
									<div class="col-xs-10">
										<p><Strong>Nome: {{prof.nome}}</Strong></p>
									</div>
								</div>
								<div class="col-xs-12">
									<div class="col-xs-1">
										<i class="glyphicon glyphicon-envelope"></i>
									</div>
									<div class="col-xs-10">
										<p><Strong>Email: {{prof.email}}</Strong></p>
									</div>
								</div>
								<div class="col-xs-12">
									<div class="col-xs-1">
										<i class="glyphicon glyphicon-map-marker"></i>
									</div>
									<div class="col-xs-10">
										<p><Strong>Endereço: {{prof.endereco}}</Strong></p>
									</div>
								</div>
								<div class="col-xs-12">
									<div class="col-xs-1">
										<i class="glyphicon glyphicon-briefcase"></i>
									</div>
									<div class="col-xs-10">
										<p><Strong>Área de atuação: {{prof.area}}</Strong></p>
									</div>
									{%if not prof.tem_certificado%}
										<div class="col-xs-1">
											<i class="glyphicon glyphicon-briefcase"></i>
										</div>
										<div class="col-xs-10">
											<p><Strong>AVISO:Envie sua licença/certificação para siasdoequipe@gmail.com</Strong></p>
										</div>
									{%endif%}	
								</div>
							</div>
						</div>	
					</div>
					<div class="col-md-8">
						<div class="panel panel-default">
							<div class="panel-heading">
								<div class="row">
									<h2 class="text-center">Painel principal.</h2>
								</div>
							</div>
							<div class="panel-body">
								<div class="row">
									<div class="col-md-12">
										<h4 style="color:black;" class="text-center">Pessoas interessadas/consultas confirmadas.</h4>
										<hr>
										{%if not consultas%}
											<div class="alert alert-warning">
												    <a href="#" class="close" data-dismiss="alert"></a>
												    <strong></strong> Sem solicitações no momento.
												</div>
										{%endif%}
										{%for servico in consultas%}
											
											<div class="col-md-12">
											{%if not servico.status_consulta%}
												<div class="col-md-2">
													<div class="col-md-2 text-center">
														<a href="/profile_profissional/move_consulta/{{servico.id}}"title="Agora não" href=""><span class="glyphicon glyphicon-remove"></span></a>
													</div>
													<div class="col-md-2 text-center">
														<a href="/profile_profissional/confirm_query/{{servico.id}}"title="Confirmar solicitação" href=""><span class="glyphicon glyphicon-ok"></span></a>
													</div>
												</div>
												<div class="col-md-10">
													<ul>
														<li>Nome:{{servico.paciente.nome}}</li>
														<li>Endereço:{{servico.paciente.endereco}}</li>
														<li>Bairro: {{servico.paciente.bairro}}</li>
														<li>Email: <a href="mailto:{{servico.paciente.email}}">{{servico.paciente.email}}</a>  </li>
														<li>Mensagem:{{servico.msg}}</li>
													</ul>
													<hr>
												</div>
											</div>
											{%else%}
												<div class="alert alert-success">
												    <a href="#" class="close" data-dismiss="alert"></a>
												    <strong></strong> Consulta confirmada
												</div>
												<div class="col-md-10">
													<ul>
														<li>Nome:{{servico.paciente.nome}}</li>
														<li>Endereço:{{servico.paciente.endereco}}</li>
														<li>Bairro: {{servico.paciente.bairro}}</li>
														<li>Email: <a href="mailto:{{servico.paciente.email}}">{{servico.paciente.email}}</a>  </li>
														<li>Mensagem:{{servico.msg}}</li>
													</ul>
													<hr>
												</div>
											</div>
											{%endif%}
										{%endfor%}
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>	
	</section>

    <!-- ******CONTACT****** --> 
    <section id="contact" class="contact section has-pattern">
        <div class="container">
            <div class="contact-inner">
                <h2 class="title  text-center">Contato</h2>
                <p class="intro  text-center">Entre em contato conosco para mais informações.</p>
                <div class="clearfix"></div>
                <div class="col-md-6">
                    <div class="col-md-1"><i class="glyphicon glyphicon-envelope"></i></div>
                    <div class="col-md-5"><p>Email:<a href="mailto:siasdocadastro@gmail.com">siasdocadastro@gmail.com</a></p></div>
               </div>
                <div class="col-md-6">
                    <div class="info text-center">
                        <ul class="social-icons list-inline">
                            <li><a href="https://www.facebook.com/pages/Siasdo/358239867710259?fref=ts" target="_blank"><i class="fa fa-facebook"></i></a></li>            
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    	
    <!--###################MODAL#############-->
    <div class="modal fade" id="login">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h2>Login</h2>
                </div>
                <div class="modal-body text-center">
                    <form method="post">
                        <div class="row control-group">
                            <div class="form-group col-xs-8 floating-label-form-group controls col-lg-offset-2">
                                <label>Email:</label>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-cta-primary btn-lg">Logar</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div> 

    <!-- ******FOOTER****** --> 
    <footer class="footer">
        <div class="container text-center">
            <small class="copyright">Desenvolvido por <a href="http://www.acens.com.br/" targe="blank">Acens</a></small>
        </div>
    </footer>

	<script type="text/javascript" src="{{STATIC_URL}}assets/plugins/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}assets/plugins/jquery-migrate-1.2.1.min.js"></script>    
    <script type="text/javascript" src="{{STATIC_URL}}assets/plugins/jquery.easing.1.3.js"></script>   
    <script type="text/javascript" src="{{STATIC_URL}}assets/plugins/bootstrap/js/bootstrap.min.js"></script>     
    <script type="text/javascript" src="{{STATIC_URL}}assets/plugins/jquery-scrollTo/jquery.scrollTo.min.js"></script> 
    <script type="text/javascript" src="{{STATIC_URL}}assets/plugins/prism/prism.js"></script>    
    <script type="text/javascript" src="{{STATIC_URL}}assets/js/main.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}assets/js/change_photo.js"></script>
</body>
</html>