<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> 
<html lang="en"> <!--<![endif]-->  
<head>
	<script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
	 <script type="text/javascript">
		$(document).ready(function(){
			  var submitIcon = $('.searchbox-icon');
			  var inputBox = $('.searchbox-input');
			  var searchBox = $('.searchbox');
			  var isOpen = false;
			  submitIcon.click(function(){
			   if(isOpen == false){
			    searchBox.addClass('searchbox-open');
			    inputBox.focus();
			    isOpen = true;
			   } else {
			    searchBox.removeClass('searchbox-open');
			    inputBox.focusout();
			    isOpen = false;
			   }
			  }); 
			   submitIcon.mouseup(function(){
			    return false;
			   });
			   searchBox.mouseup(function(){
			    return false;
			   });
			  $(document).mouseup(function(){
			   if(isOpen == true){
			    $('.searchbox-icon').css('display','block');
			    submitIcon.click();
			  }
			});
			 });
			function buttonUp(){
			 var inputVal = $('.searchbox-input').val();
			 inputVal = $.trim(inputVal).length;
			 if( inputVal !== 0){
			  $('.searchbox-icon').css('display','none');
			 } else {
			  $('.searchbox-input').val('');
			  $('.searchbox-icon').css('display','block');
			 }
			}
	</script>

    <title>Siasdo</title>
    <!-- Meta -->
    <link rel="shortcut icon" href="{{STATIC_URL}}assets/images/logosm.ico" type="image/x-icon">
    <link rel="icon" href="{{STATIC_URL}}assets/images/logosm.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">    
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'> 
    <!-- Global CSS -->
    <link rel="stylesheet" href="{{STATIC_URL}}assets/plugins/bootstrap/css/bootstrap.css">
    <!-- Plugins CSS -->    
    <link rel="stylesheet" href="{{STATIC_URL}}assets/plugins/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="{{STATIC_URL}}assets/plugins/prism/prism.css">
    <!-- Theme CSS -->  
    <link id="theme-style" rel="stylesheet" href="{{STATIC_URL}}assets/css/styles.css">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head> 


<body>
	<header class="header navbar-fixed-top">
		<div class="container">          
			{%if flag_paciente_log%}  
				<div class="col-md-1">
		            <h1 class="logo pull-left">
		                <a href="/">
		                    <span class="logo-title">SIASDO</span>
		                </a>
		            </h1>
	        	</div>
	        	<div class="col-md-4">
				 	<form method="post"class="searchbox">
				 	{%csrf_token%}
				 		<!-- <input type="text" placeholder="Procurar ..." name="search" onkeyup="buttonUp();" class="searchbox-input" required> -->
				 		{{form2.busca}}
				 		<input type="submit" class="searchbox-submit" value="GO">
				 		<span class="searchbox-icon"><i class="glyphicon glyphicon-search"></i></span>
				 	</form>
				</div>
	        	<div class="col-md-7">
	        		<nav id="main-nav" class="main-nav navbar-right" role="navigation">
		                <div class="navbar-header">
		                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
		                        <span class="glyphicon glyphicon-align-justify"></span>	
		                    </button>
		                </div>    
		                <div class="navbar-collapse collapse dropdown" id="navbar-collapse">
		                    <ul class="nav navbar-nav">
				                <li class="active nav-item sr-only"><a class="scrollto" href="#promo">Home</a></li>
				                <li>
									<a style="color:#FFFFFF;" class="btn btn-cta-secondary" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
										Configurações
									</a>
									<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
										<li role="presentation"><a role="menuitem" tabindex="-1" href="/profile_paciente/edit_settings/">Alterar configurações da conta</a></li>
									    <li role="presentation"><a role="menuitem" tabindex="-1" href="/profile_paciente/edit_senha/">Alterar senha</a></li>
									    <li role="presentation"><a role="menuitem" tabindex="-1" href="/profile_paciente/minhas-consultas/">Minhas consultas</a></li>
									</ul>
				                </li>
		                        <li class="nav-item"><a href="/logout">Sair <span class="glyphicon glyphicon-off"></span></a></li>
		                    </ul>
		                </div>
		            </nav>
		        </div>
			{%else%}
				<div class="container">            
		            <div class="col-md-1">
			            <h1 class="logo pull-left">
			                <a href="/">
			                    <span class="logo-title">SIASDO</span>
			                </a>
			            </h1>
		        	</div>
		        	<div class="col-md-4">
					 	<form method="post"class="searchbox">
					 	{%csrf_token%}
					 		<!-- <input type="text" placeholder="Procurar ..." name="search" onkeyup="buttonUp();" class="searchbox-input" required> -->
					 		{{form2.busca}}
					 		<input type="submit" class="searchbox-submit" value="GO">
					 		<span class="searchbox-icon"><i class="glyphicon glyphicon-search"></i></span>
					 	</form>
					</div>
					<div class="col-md-7">
						<nav id="main-nav" class="main-nav navbar-right" role="navigation">
			                <div class="navbar-header">
			                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
			                        <span class="glyphicon glyphicon-align-justify"></span>
			                    </button>
			                </div>         
			                <div class="navbar-collapse collapse" id="navbar-collapse">
			                    <ul class="nav navbar-nav">
			                        <li class="active nav-item sr-only"><a class="scrollto" href="#promo">Home</a></li>
			                        <li class="nav-item"><a href="/">Home</a></li>
			                    </ul>
			                </div>
			            </nav>
					</div>
		            
				</div>
			{%endif%}
		</div>
	</header>

	<div style="background: #E6E8FA;" class="container-fluid offset-header">
		<div class="container">
			<div class="row">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h2 style="color: black;" class="text-center">Aqui você achará a nossa lista de profissionais!</h2>
					</div>
					<div class="panel-body">
						<div class="col-md-12">
							<div class="col-md-3">
								<p class="text-center">Selecione uma área de atuação.</p>
								<hr>
								<div class="col-md-12">
									<form method="post" class="form-group">
										{%csrf_token%}
										<div class="col-md-9">
											{{form.area}}
										</div>
										<div class="col-md-3">
						      				<button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span></button>
						      			</div>
									</form>
								</div>
							</div>
							{%if flag_bairro%}
								<div class="col-md-9">
								
								{%if not prof_bairro%}
									<div class="alert alert-warning">
                                    <button type="button" class="close" data-dismiss="alert"></button>
										Não há profissionais próximos a você no momento
									</div>
									{%else%}
									
									<p class="text-center">Profissionais próximos a você!</p>
									{%if flag_bairro_prof%}<p class="text-center">{{message_warning}}</p>{%endif%}
									{%for prof in prof_bairro%}
										<hr>
										<div class="col-md-12">
											<div class="col-md-4">
									  			<a href="#" class="thumbnail">
									    			<img src="{{prof.foto.url}}">
									    		</a>
											</div>
											<div class="col-md-6">
												<div class="col-xs-12">
													<div class="col-xs-1">
														<i class="glyphicon glyphicon-user"></i>
													</div>
													<div class="col-xs-10">
														<p><Strong>Nome:{{prof.nome}}</Strong></p>
													</div>
												</div>
												<div class="col-xs-12">
													<div class="col-xs-1">
														<i class="glyphicon glyphicon-envelope"></i>
													</div>
													<div class="col-xs-10">
														<p><Strong>Email:{{prof.email}}</Strong></p>
													</div>
												</div>
												<div class="col-xs-12">
													<div class="col-xs-1">
														<i class="glyphicon glyphicon-phone"></i>
													</div>
													<div class="col-xs-10">
														<p><Strong>Numero(Whatsapp):{{prof.numero}}</Strong></p>
													</div>
												</div>
												<div class="col-xs-12">
													<div class="col-xs-1">
														<i class="glyphicon glyphicon-briefcase"></i>
													</div>
													<div class="col-xs-10">
														<p><Strong>Área de atuação:{{prof.area}}</Strong></p>
													</div>
												</div>
											</div>
											<div class="col-md-2 text-center">
												<button title="Contrate-me!" class="btn btn-cta-primary" onclick="window.location.href='/search/profissional/{{prof.slug}}/'"><span class="glyphicon glyphicon-comment"></span></button>
											</div>
										</div>
									{%endfor%}
									{%endif%}
								</div>

							{%endif%}
							
							{%if flag_area%}
								
								<div class="col-md-9">
								{%if not prof_area%}
									<div class="alert alert-warning">
                                    <button type="button" class="close" data-dismiss="alert"></button>
										Sem profissionais
									</div>
									{%else%}
										<p class="text-center">Profissionais da área de {{area}}</p>
									
									{%endif%}
									{%for prof in prof_area%}
										<hr>
										<div class="col-md-12">
											<div class="col-md-4">
											  	<a href="#" class="thumbnail">
											    	<img src="{{prof.foto.url}}">
											    </a>
											</div>
											<div class="col-md-6">
												<div class="col-xs-12">
													<div class="col-xs-1">
														<i class="glyphicon glyphicon-user"></i>
													</div>
													<div class="col-xs-10">
														<p><Strong>Nome:{{prof.nome}}</Strong></p>
													</div>
												</div>
												<div class="col-xs-12">
													<div class="col-xs-1">
														<i class="glyphicon glyphicon-envelope"></i>
													</div>
													<div class="col-xs-10">
														<p><Strong>Email:{{prof.email}}</Strong></p>
													</div>
												</div>
												<div class="col-xs-12">
													<div class="col-xs-1">
														<i class="glyphicon glyphicon-phone"></i>
													</div>
													<div class="col-xs-10">
														<p><Strong>Numero(Whatsapp):{{prof.numero}}</Strong></p>
													</div>
												</div>
												<div class="col-xs-12">
													<div class="col-xs-1">
														<i class="glyphicon glyphicon-briefcase"></i>
													</div>
													<div class="col-xs-10">
														<p><Strong>Área de atuação:{{prof.area}}</Strong></p>
													</div>
												</div>
											</div>
											<div class="col-md-2 text-center">
												<button title="Contrate-me!" class="btn btn-cta-primary" onclick="window.location.href='/search/profissional/{{prof.slug}}/'"><span class="glyphicon glyphicon-comment"></span></button>
											</div>
										</div>
									{%endfor%}
								</div>
							{%endif%}
							{%if flag_geral%}
								<div class="col-md-9">
									<p class="text-center">Busca Geral</p>
									{%if not search%}
										<div class="alert alert-warning">
                                    <button type="button" class="close" data-dismiss="alert"></button>
										Sem resultados
									</div>
										{%endif%}
									{%for prof in search%}
										<hr>
										<div class="col-md-12">
											<div class="col-md-4">
											  	<a href="#" class="thumbnail">
											    	<img src="{{prof.foto.url}}">
											    </a>
											</div>
											<div class="col-md-6">
												<div class="col-xs-12">
													<div class="col-xs-1">
														<i class="glyphicon glyphicon-user"></i>
													</div>
													<div class="col-xs-10">
														<p><Strong>Nome:{{prof.nome}}</Strong></p>
													</div>
												</div>
												<div class="col-xs-12">
													<div class="col-xs-1">
														<i class="glyphicon glyphicon-envelope"></i>
													</div>
													<div class="col-xs-10">
														<p><Strong>Email:{{prof.email}}</Strong></p>
													</div>
												</div>
												<div class="col-xs-12">
													<div class="col-xs-1">
														<i class="glyphicon glyphicon-phone"></i>
													</div>
													<div class="col-xs-10">
														<p><Strong>Numero(Whatsapp):{{prof.numero}}</Strong></p>
													</div>
												</div>
												<div class="col-xs-12">
													<div class="col-xs-1">
														<i class="glyphicon glyphicon-briefcase"></i>
													</div>
													<div class="col-xs-10">
														<p><Strong>Área de atuação:{{prof.area}}</Strong></p>
													</div>
												</div>
											</div>
											<div class="col-md-2 text-center">
												<button title="Contrate-me!" class="btn btn-cta-primary" onclick="window.location.href='/search/profissional/{{prof.slug}}/'"><span class="glyphicon glyphicon-comment"></span></button>
											</div>
										</div>
									{%endfor%}
								</div>
							{%endif%}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

    <!-- ******CONTACT****** --> 
    <section id="contact" class="contact section has-pattern">
        <div class="container">
            <div class="contact-inner">
                <h2 class="title  text-center">Contato</h2>
                <p class="intro  text-center">Entre em contato conosco para mais informações.</p>
                <div class="clearfix"></div>
                <div class="col-md-6">
                    <div class="col-md-1"><i class="glyphicon glyphicon-envelope"></i></div>
                    <div class="col-md-5"><p>Email:<a href="mailto:siasdo@siasdo.com.br">siasdo@siasdo.com.br</a></p></div>
                </div>
                <div class="col-md-6">
                    <div class="info text-center">
                        <ul class="social-icons list-inline">
                            <li><a href="https://www.facebook.com/pages/Siasdo/358239867710259?fref=ts" target="_blank"><i class="fa fa-facebook"></i></a></li>           
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ******FOOTER****** --> 
    <footer class="footer">
        <div class="container text-center">
            <small class="copyright">Desenvolvido por <a href="http://www.acens.com.br/" targe="blank">Acens</a></small>
        </div>
    </footer>

    <script type="text/javascript" src="{{STATIC_URL}}assets/js/search.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}assets/plugins/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}assets/plugins/jquery-migrate-1.2.1.min.js"></script>    
    <script type="text/javascript" src="{{STATIC_URL}}assets/plugins/jquery.easing.1.3.js"></script>   
    <script type="text/javascript" src="{{STATIC_URL}}assets/plugins/bootstrap/js/bootstrap.min.js"></script>     
    <script type="text/javascript" src="{{STATIC_URL}}assets/plugins/jquery-scrollTo/jquery.scrollTo.min.js"></script> 
    <script type="text/javascript" src="{{STATIC_URL}}assets/plugins/prism/prism.js"></script>    
    <script type="text/javascript" src="{{STATIC_URL}}assets/js/main.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}assets/js/change_photo.js"></script>
</body>
</html>

